*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@media only screen and (max-width: 600px){
    body{
        height: 100vh;
        display: grid;
        grid-template-rows: 35px 68px 1fr 50px;
        grid-template-areas:    "header"
                                "nav"
                                "contentt"
                                "footer";
    }
    header{
        grid-area: header;
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
    nav {
        grid-area: nav;
        display: grid;
        grid-template-rows: 34px 34px;
        grid-template-columns: repeat(7, 1fr);
    }
    nav button {
        margin: 5px;
        border: 1px solid;
        border-radius: 5px;
    }
    main {
        grid-area: contentt;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    aside{
        grid-area: footer;
        display: flex;
        justify-content: space-between;
    }
    #btn-menu, .container{
        display: none;
    }
    .section-1 .menu,
    .section-2  .mic,
    .section-3 .user-options{
        display: none;
    }
    .section-1 button img {
        width: 30px;
    }
    .section-2{
        display: flex;
    }
}